body{
    display: grid;
    grid-template-areas: 
    "top top"
    "side main";
    grid-template-rows: 64px auto;
    grid-template-columns: 20% auto;
    
}
header{
    grid-area: top;
}
#sidebar{
    grid-area: side;
}
#mainPage{
    grid-area: main;
    height: 100%;
    border-left: 2px solid var(--acccent-color);
}
#themes{
    margin-left: 20px;
}
#themeHolder{
    display: grid;
    grid-template-columns: repeat(6,210px);
    width: 90%;
    margin: auto;
    margin-top: 20px;
    
}
#themeForm{
    display: grid;
    grid-template-areas: "color picker" "color picker" "color picker" "color picker" "name picker" "add add";
    grid-template-columns: 220px 300px;
    grid-template-rows: auto auto auto auto auto auto;
}
input[type="color"]{
    border: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}
input[type="color"]::-webkit-color-swatch{
border-radius: 10px;
border: 2px solid var(--text-color);
}
.preTheme{
    width: 200px;
    height: 250px;
    padding: 0px;
    margin-bottom: 10px;
}
.add > div{
    width: 198px;
    height: 190px;
    font-size: 70px;
    margin: auto;
    
}

button > h2{
    font-size: 70px;
}
#themeMakerStart{
    width: 200px;
    height: 250px;
}